<!DOCTYPE html>
<html>
<head>
    <title>OpenVPN Manager</title>
</head>
<body>
    <h2>Login OpenVPN Manager</h2>

    {% if erro %}
    <p style="color:red">{{ erro }}</p>
    {% endif %}

    <form method="post">
        <p>
            <input type="text" name="username" placeholder="Utilizador">
        </p>

        <p>
            <input type="password" name="password" placeholder="Palavra-passe">
        </p>

        <p>
            <button type="submit">Entrar</button>
        </p>
    </form>
</body>
</html>
